<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @exam_paper.index %>
</p>

<p>
  <strong>Create:</strong>
  <%= @exam_paper.create %>
</p>

<p>
  <strong>Show:</strong>
  <%= @exam_paper.show %>
</p>

<%= link_to 'Edit', edit_exam_paper_path(@exam_paper) %> |
<%= link_to 'Back', exam_papers_path %>
